<div class="card mb-3">
    <div class="row">
        <div class="col-md-3">
            <img src="/static/images/<%= sekil %>" class="img-fluid"  alt="">
        </div>
        <div class="col-md-9">
            <div class="card-boyd">
                <h5 class="card-title">
                  <a style="text-decoration: none;" href="/watches/<%= url %>">  <%= basliq %> </a>
                </h5>
                <p class="card-text">
                   <%= altbasliq %>
                </p>
            </div>
        </div>
    </div>
</div>